<div class="container">
    <div class="parts">
        <div>
            <h1>Registration numbers</h1>

            <div class="message">

            </div>


            <div>
                <input type="text" class="regNumberEntered" placeholder="enter a registration number">
                <br> <br>
            </div>
            <div class="regButtons">
                <button class="addReg">Add reg number</button> <button class="showReg">Show reg number</button>
            </div>
            <br> <br>
            <div class="filter">
                <strong>Filter by town</strong>
                <input type="radio" name="town" value="CA"> Cape Town
                <input type="radio" name="town" value="CY">Bellville
                <input type="radio" name="town" value="CJ">Paarl

            </div>
            <hr>
            <div class="regNumbers">

            </div>
            
        </div>
    </div>

</div>
</form>