<div class="container">
    <div class="parts">

        <div>
            <h1>Registration numbers</h1>

            <div class="flash">
                {{#if messages.error}}
                {{messages.error}}
                {{/if}}
            </div>
                <br>
                <br>
                <form action="/regNum" method="POST">
                    <div>
                        <input type="text" name="reg" class="regNumberEntered" value=""
                            placeholder="enter a registration number"> <button class="addReg">Add reg
                            number</button>

                        <br> <br>
                    </div>

                    <br> <br>

                </form>

                <a href="/deleteData"> <button class="resetReg">Reset</button></a>
                <br><br>
                <form action="/regnum" method="POST">
                    <div class="filter">
                        <strong>Filter by town</strong>
                        <input type="radio" name="town" value="CA"> Show all
                        <input type="radio" name="town" value="CA"> Cape Town
                        <input type="radio" name="town" value="CY">Bellville
                        <input type="radio" name="town" value="CJ">Paarl
                    </div>
                    <br> <br>
                    <a href="/filter"><button class="showReg">show</button></a>
                </form>
                <hr>
                <div class="regNumbers">
                    <ul class="regList">
                        {{#each  getReg}}
                        <li>{{this.reg_num}} </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>