body {
    background-color: darkgrey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}


.container {
	width: 90%;
	margin:	auto;
	text-align: center;
}

.parts {
	display: flex;
	margin-right: 2em;
}

.parts div {
	flex: 1;
}

.regNumberEntered {
	padding: 1em;
	border-radius: 0.5em;
	font-size: 1em;
}

.btn {
	margin: 1em;
	padding: 1em;
	font-size: 1em;
	border-radius: 0.25em;
}

.filter{
    color: darkslategray;
}

/* .addReg {
    background-color: cornflowerblue;
    font-size: large;
} */

.message {
	height: 1em;
	font-weight: bold;
	/* color: crimson; */
}

li {
	background-color: yellow;
	border: 0.1em solid;
	border-radius: 0.25em;
	padding: 1em;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;
	list-style: none;
}




input[type='radio'] {
	margin: 1em;
}

button{
    color: black;
    background-color:darkslategrey;
    border-radius: 14px;
    font-size: 20px;
    border: none;
    padding: 12px 20px;
    
  }

  .flash{
	  color: red;
  }

  .regList{
	  color: black;
  }